body {
	margin:0;
	padding:0;
	background:black;
	color:#ddd;
	text-align:left;
	vertical-align:top;
    font-family: Sans-Serif;
}

.brick {
    position:absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#252525;
}

.brick-id {
    margin:8px;
    padding:4px;
    background-color:black;
    width:50px;
    font-weight:bold;
    text-align:center;
    font-family: Serif;
 }

#pga {
    position:fixed;
    top:44px;  
    left:0;
    right:0; 
    bottom:0;       
    overflow-x:hidden;
    overflow-y:scroll;
}  

h3 {
    text-align: center;
    line-height: 1;
}